<style>
    body {
        background: radial-gradient(#fff, #ffd6d6);
    }
</style>
<div class="container">
    <div class="row">
        <div class="col-2">
            <h1>Mang đến cho bạn <br />Một phong cách mới!</h1>
            <p>
                Thành công không phải lúc nào cũng là về sự vĩ đại. Đó là về tính nhất quán.<br />Làm việc chăm chỉ đạt
                được thành công. Sự vĩ đại sẽ đến.
            </p>
            <a href="/products" class="btn">Mua ngay &#8594;</a>
        </div>
        <div class="col-2">
            <img src="images/image1.png" />
        </div>
    </div>
</div>
